<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout::header('Home')"></head>
<body>
<div th:replace="fragments/layout::nav"></div>
<div th:replace="fragments/layout::search_bar"></div>

<div class="gifs container">
    <div class="row">
        <div th:each="gif : ${gifList}" class="col s12 l4">
            <a th:href="@{'/gif/' + ${gif.name}}">
                <img th:src="@{'/gifs/' + ${gif.name} + '.gif'}" th:alt="${gif.name}"/>
                <a href="#" th:class="(${gif.favorite} ? 'unmark' : 'mark') + ' favorite'"></a>
            </a>
        </div>
    </div>
</div>

<!-- Footer injected from Thymeleaf layout -->
<div th:replace="fragments/layout::footer"></div>
<div th:replace="fragments/layout::scripts"></div>
</body>
</html>
